<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - My eCommerce website</title>
    <link rel="stylesheet" href="aboutus.css">
</head>
<body>
<div class="header-container">
    <h1 class="logo"><a href="home.html"></a>My eCommerce</h1>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="products_list.html">Products</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="contactus.html">Contact Us</a></li>
            <li><a href="../account/login.html">Login</a></li>
            <li><a href="shopping_cart.html">Cart</a></li>
        </ul>
        
    </nav>
</div>
<main>
   <div class="description-container">
    <div>
        <h1>About Us</h1>
    <p>Welcome to My eCommerce Store, your number one source for all things shopping. We're dedicated to giving you the very best of products, with a focus on dependability, customer service, and uniqueness.</p>
    </div>
    <div>
        <h1>Our Mission</h1>
        <p>To provide our customers with high-quality products at affordable prices while ensuring a seamless shopping experience.</p>
    </div>
    <div>
        <h1>Our Values</h1>
        <ul>
            <li>Customer First: Our customers are our top priority, and we strive to meet their needs.</li>
            <li>Integrity: We maintain honesty in our dealings and are committed to transparency.</li>
            <li>Innovation: We constantly seek to improve and innovate to offer the best products.</li>
            <li>Community: We believe in giving back and supporting our local community.</li>
        </ul>
    </div>
    <div>
        <h1>Our Story</h1>
        <p>Founded in 2023, My eCommerce Store started with a simple idea: to make quality products accessible to everyone. Our journey has been fueled by our passion for quality and customer satisfaction. We continue to grow and expand our offerings, ensuring that our customers have the best shopping experience possible.</p>
    </div>
    <div>
        <h1>Contact Us</h1>
        <p>If you have any questions or feedback, feel free to <a href="contactus.html">Contact Us</a>. We'd love to hear from you!</p>
    </div>

   </div>
</main>

<footer>
    <div class="footer-container">
        <p>&copy;2024 My eCommerce. All rights reserved.</p>
    </div>
<div class="social-media">
    <a href="#" target="_blank"><img src="facebook-icon.png" alt="Facebook"></a>
    <a href="#" target="_blank"><img src="instagram-icon.png" alt="Instagram"></a>
    <a href="#" target="_blank"><img src="twitter-icon.png" alt="Twitter"></a>
</div>


</footer>
 
</body>
</html>