<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - My eCommerce website</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
<div class="header-container">
    <h1 class="logo"><a href="home.html"></a>My eCommerce</h1>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="products_list.html">Products</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="contactus.html">Contact Us</a></li>
            <li><a href="../account/login.html">Login</a></li>
            <li><a href="shopping_cart.html">Cart</a></li>
        </ul>
        
    </nav>
</div>
<main>
   <section class="banner">
    <h2>Welcome to our store</h2>
    <p>Discover amazing products at unbeatable prices</p>
   </section>

   <section>
    <h2>Featured Products</h2>
    <div>
    <img src="" alt="image not found">
    <h3>Product Name</h3>
    <P>200 ETB</P>
<a href="view_detail.html">View detail</a>
    </div>
    <div>
    <img src="" alt="image not found">
    <h3>Product Name</h3>
    <P>200 ETB</P>
<a href="view_detail.html">View detail</a>
    </div>
    <div>
    <img src="" alt="image not found">
    <h3>Product Name</h3>
    <P>200 ETB</P>
<a href="view_detail.html">View detail</a>
    </div>
    <div>
    <img src="" alt="image not found">
    <h3>Product Name</h3>
    <P>200 ETB</P>
<a href="view_detail.html">View detail</a>
    </div>
   </section>
</main>

<footer>
    <div class="footer-container">
        <p>&copy;2024 My eCommerce. All rights reserved.</p>
    </div>
<div class="social-media">
    <a href="#" target="_blank"><img src="facebook-icon.png" alt="Facebook"></a>
    <a href="#" target="_blank"><img src="instagram-icon.png" alt="Instagram"></a>
    <a href="#" target="_blank"><img src="twitter-icon.png" alt="Twitter"></a>
</div>

   
</footer>
 
</body>
</html>