<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products List - My eCommerce website</title>
</head>
<body>
<div class="header-container">
    <h1 class="logo"><a href="home.html"></a>My eCommerce</h1>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="products_list.html">Products</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="contactus.html">Contact Us</a></li>
            <li><a href="../account/login.html">Login</a></li>
            <li><a href="shopping_cart.html">Cart</a></li>
        </ul>
        
    </nav>
</div>
<main>
    <input type="text" placeholder="Search Products...">

    <Section>
        <option value="">All Catagory</option>
        <option value="">Catagory 2</option>
        <option value="">Catagory 3</option>
        <option value="">Catagory 4</option>
        <option value="">Catagory 5</option>
    </Section>

    <div>
        <img src="" alt="image not found">
        <h3>Product Name</h3>
        <P>200 ETB</P>
    <a href="view_detail.html">View deatil</a>
    <button>Add to cart</button>
        </div>

    <div>
            <img src="" alt="image not found">
            <h3>Product Name</h3>
            <P>200 ETB</P>
        <a href="view_detail.html">View deatil</a>
        <button>Add to cart</button>
        </div>

    <div>
            <img src="" alt="image not found">
            <h3>Product Name</h3>
            <P>200 ETB</P>
        <a href="view_detail.html">View deatil</a>
        <button>Add to cart</button>
        </div>

    <div>
            <img src="" alt="image not found">
            <h3>Product Name</h3>
            <P>200 ETB</P>
        <a href="view_detail.html">View deatil</a>
        <button>Add to cart</button>
        </div>

    <div>
         <a href="">Page 1</a>
         <a href="">Page 2</a>
         <a href="">Page 3</a>
         <a href="">Page 4</a>
        </div>


</main>
<div>

</div>
<footer>
    <div class="footer-container">
        <p>&copy;2024 My eCommerce. All rights reserved.</p>
    </div>
   
</footer>
 
</body>
</html>