<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products List - My eCommerce website</title>
    <link rel="stylesheet" href="products_list.css">
</head>
<body>
<div class="header-container">
    <h1 class="logo"><a href="home.html"></a>My eCommerce</h1>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="products_list.html">Products</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="contactus.html">Contact Us</a></li>
            <li><a href="../account/login.html">Login</a></li>
            <li><a href="shopping_cart.html">Cart</a></li>
        </ul>
 
    </nav>
</div>
<main>
    <input type="text" placeholder="Search Products...">

    <!-- Product Filters -->
<div class="product-filters">
    <h3>Filter by Category:</h3>

        <a href="#">Books</a>
        <a href="#">Electronics</a>
        <a href="#">Clothing</a>
        <a href="#">Home & Kitchen</a>
    
</div>

    <div>
        <img src="" alt="image not found">
        <h3>Product Name</h3>
        <P>200 ETB</P>
    <a href="view_detail.html">View deatil</a>
    <button>Add to cart</button>
        </div>

    <div>
            <img src="" alt="image not found">
            <h3>Product Name</h3>
            <P>200 ETB</P>
        <a href="view_detail.html">View deatil</a>
        <button>Add to cart</button>
        </div>

    <div>
            <img src="" alt="image not found">
            <h3>Product Name</h3>
            <P>200 ETB</P>
        <a href="view_detail.html">View deatil</a>
        <button>Add to cart</button>
        </div>

    <div>
            <img src="" alt="image not found">
            <h3>Product Name</h3>
            <P>200 ETB</P>
        <a href="view_detail.html">View deatil</a>
        <button>Add to cart</button>
        </div>

    <div>
         <a href="">Page 1</a>
         <a href="">Page 2</a>
         <a href="">Page 3</a>
         <a href="">Page 4</a>
        </div>


</main>
<div>

</div>
<footer>
    <div class="footer-container">
        <p>&copy;2024 My eCommerce. All rights reserved.</p>
    </div>
<div class="social-media">
    <a href="#" target="_blank"><img src="facebook-icon.png" alt="Facebook"></a>
    <a href="#" target="_blank"><img src="instagram-icon.png" alt="Instagram"></a>
    <a href="#" target="_blank"><img src="twitter-icon.png" alt="Twitter"></a>
</div>

   
</footer>
 
</body>
</html>