<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - My eCommerce website</title>
</head>
<body>
<div class="header-container">
    <h1 class="logo"><a href="home.html"></a>My eCommerce</h1>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="products_list.html">Products</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="../account/login.html">Login</a></li>
            <li>
                <a href="../account/login.html">User Name</a>
                <ul>
                    <li><a href="">Profile</a></li>
                    <li><a href="">Settings</a></li>
                    <li><a href="">Logout</a></li>

                </ul>
            </li>
        </ul>
        
    </nav>
</div>
<main>
   <table>
    <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
    <th>Action</th>
</tr>

<tr>
    <td>
        <div class="cart-item">
        <img src="" alt="Productimage">
        <span>Book 1</span>
        </div>
    </td>
    <td class="price">
        200 ETB
    </td>
    <td>
        <input type="number" name="" id="">
    </td>
    <td class="total">
        200 ETB
    </td>
    

</tr>
   </table>

   <div>
   <h3>Cart Summary</h3>
   <p>Total Amount <span class="total-amount">4000 ETB</span></p>
<button class="proceedtocheckout">Proceed to Checkout</button>
</div>
</main>

<footer>
    <div class="footer-container">
        <p>&copy;2024 My eCommerce. All rights reserved.</p>
    </div>
   
</footer>
 
</body>
</html>