<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - My eCommerce website</title>
    <link rel="stylesheet" href="forgot_password.css">
</head>
<body>
<div class="header-container">
    <h1 class="logo">My eCommerce</h1>
    <nav>
        <ul>
            <li><a href="../ecommerce/home.html">Home</a></li>
            <li><a href="../ecommerce/products_list.html">Products</a></li>
            <li><a href="../ecommerce/aboutus.html">About Us</a></li>
            <li><a href="../ecommerce/contactus.html">Contact Us</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="../ecommerce/shopping_cart.html">Cart</a></li>
        </ul>
        
    </nav>
</div>
<main>
    <div class="forgot-container">
        <h2>Forgot Password</h2>
        <form action="">
            <label for="email">Email</label>
            <input type="email" name="" id="email" required>
            <button type="submit" class="btn">Submit</button>
         </form>
         
    </div>
</main>

<footer>
    <div class="footer-container">
        <p>&copy;2024 My eCommerce. All rights reserved.</p>
    </div>
<div class="social-media">
    <a href="#" target="_blank"><img src="facebook-icon.png" alt="Facebook"></a>
    <a href="#" target="_blank"><img src="instagram-icon.png" alt="Instagram"></a>
    <a href="#" target="_blank"><img src="twitter-icon.png" alt="Twitter"></a>
</div>

   
</footer>

    
    
</body>