<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - My eCommerce website</title>
</head>
<body>
<div class="header-container">
    <h1 class="logo">My eCommerce</h1>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Login</a></li>
        </ul>
        
    </nav>
</div>
<main>
    <div class="forgot-container">
        <h2>Forgot Password</h2>
        <form action="">
            <label for="email">Email</label>
            <input type="email" name="" id="email" required>
            <button type="submit" class="btn"></button>
         </form>
         
    </div>
</main>

<footer>
    <div class="footer-container">
        <p>&copy;2024 My eCommerce. All rights reserved.</p>
    </div>
   
</footer>

    
    
</body>